@model CityWeather

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Model?.CityName City Weather</title>
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="page-content">
            <div class="margin-bottom">

                <h1><i>CityName is not valid.</i></h1>

            </div>
        </div>
    </div>
</body>
</html>