<!DOCTYPE html>
<html>
    <head>
        <title>Configuration Demo</title>
        <meta charset="utf-8"/>
        <link href="~/StyleSheet.css" />
    </head>

    <body>
        <div class="container">
            <h1>Home</h1>
            <div class="box">
                <div>@ViewBag.MyKey</div>
                <div>@ViewBag.MyApiKey</div>
            </div>
        </div>
    </body>
</html>