@model IEnumerable<string>

@{
    ViewBag.Title = "Home";
}

<h1>Cities</h1>

<div>
    <ul class="list">
    @foreach(string city in Model){
        <li>@city</li>
    }
    </ul>

    <div>@ViewBag.CitiesServiceInstandId1</div>
    <div>@ViewBag.CitiesServiceInstandId2</div>
    <div>@ViewBag.CitiesServiceInstandId3</div>
</div>
