@{
    if (ViewBag.ProductID != null)
        Layout = "~/Views/Shared/_ProductsLayout.cshtml";
    ViewData["Title"] = "Product Search";
}

<h1>Product Search Page</h1>
<p>Welcome to product search page!</p>